body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

form {
  width: 50%;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

#file_name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#file_name input[type="text"] {
  width: 70%;
}

#file_name select {
  width: 28%;
}

#btn {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#btn:hover {
  background-color: #3e8e41;
}
